<div class="panel">
    <div class="panel-body">
        <div class="text-warning">请您遵守国家相关规定，切勿上传低俗色情、暴力恐怖、虚假谣言、营销诈骗、侵权盗版等相关内容</div>
        <div class="m-cate-tree" id="cateTree">
            <div class="list">
                <div class="parent">
                    <div class="status">+</div>
                    <div class="item">
                        <div class="caption">分类名称</div>
                        <div class="operation">
                            <a href="javascript:void(0)">添加子类</a><a href="javascript:void(0)">删除</a>
                        </div>
                    </div>
                </div>
                <div class="child">
                    <div class="item">
                        <div class="caption"><span>——</span>分类名称</div>
                        <div class="operation">
                            <a href="javascript:void(0)">删除</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list">
                <div class="parent">
                    <div class="status">+</div>
                    <div class="item">
                        <div class="caption">分类名称</div>
                        <div class="operation">
                            <a href="javascript:void(0)">添加子类</a><a href="javascript:void(0)">删除</a>
                        </div>
                    </div>
                </div>
                <div class="child">
                    <div class="item">
                        <div class="caption">分类名称</div>
                        <div class="operation">
                            <a href="javascript:void(0)">删除</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>