<div class="panel">
        <div class="panel-heading">
            <div class="panel-title">编辑</div>
        </div>
        <div class="panel-body">
            <form name="add-form" class="form form-horizontal" action="{:U('a_update',array('id'=>$output['data']['id']))}">
                <div class="form-group">
                    <label class="control-label col-xs-2">机构名称:</label>
                    <div class="col-xs-5">
                        <input type="text" name="name" class="form-control" value="{$output['data']['name']}">
                    </div>
                    <div class="col-xs-3 tips"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">机构LOGO:</label>
                    <div class="col-xs-2">
                            <div class="m-thumbnail-upload" id="js-thumb-upload-panel">
                                <empty name="output['data']['logo']">
                                    <a href="javascript:" class="add-btn js-add-btn"></a>
                                    <div class="thumb-box hidden"><img class="thumb" style=""><span class="del-btn">删除</span> </div>
                                    <else/>
                                    <a href="javascript:" class="add-btn js-add-btn hidden"></a>
                                    <div class="thumb-box">
                                        <img class="thumb" src="{$Think.const.UPLOAD}/thumb/{$output['data']['logo']}">
                                        <span class="del-btn">删除</span>
                                    </div>
                                    <input type="hidden" class="js-old-thumb" name="oldthumb" value="{$output['data']['logo']}">
                                </empty>
                                <input type="file" name="thumb" class="js-file-input" style="opacity: 0" >
                            </div>
                        </div>
                    <div class="col-xs-3 tips">建议尺寸：250px×250px,格式jpg或png</div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">电话:</label>
                    <div class="col-xs-5">
                        <input type="text" name="tel" class="form-control" value="{$output['data']['tel']}">
                    </div>
                    <div class="col-xs-3 tips"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">地址:</label>
                    <div class="col-xs-5">
                        <input type="text" name="addr" class="form-control" value="{$output['data']['addr']}">
                    </div>
                    <div class="col-xs-3 tips"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">联系人:</label>
                    <div class="col-xs-5">
                        <input type="text" name="contact" class="form-control" value="{$output['data']['contact']}">
                    </div>
                    <div class="col-xs-3 tips"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">详细介绍:</label>
                    <div class="col-xs-8">
                            <script id="editorContainer" name="introduce">{$output['data']['introduce']}</script>
                    </div>
                    <div class="col-xs-3 tips"></div>
                </div>
    
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-1"><button type="button" class="form-control btn-default" onclick="window.history.back()">返回</button></div>
                    <div class="col-xs-2"><button type="submit" class="form-control btn-info">提交</button></div>
    
                </div>
            </form>
        </div>
    </div>
