<div class="panel">
    <div class="panel-body">
        <div class="u-page-title">添加课程章节</div>
        <form name="add-section-form" id="sectionForm" class="form form-horizontal" action="{:U('a_add_section')}">
            <input type="hidden" name="course_id" value="{$Think.get.cid}">

            <div class="form-group">
                <label class="control-label col-xs-2">类型:</label>
                <div class="col-xs-5">
                    <select name="type" class="form-control" id="js-section-type">
                        <option value="">请选择类型</option>
                        <option value="1">音频</option>
                        <option value="2">视频</option>
                    </select>
                </div>
                <div class="col-xs-3 tips"></div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-2">章节名称:</label>
                <div class="col-xs-5">
                    <input type="text" name="title" class="form-control" value="" placeholder="建议6-14个字符">
                </div>
                <div class="col-xs-3 tips"></div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">音/视频名称:</label>
                <div class="col-xs-5">
                    <input type="hidden" name="source" id='js-article-source'>

                    <!-- plupupload start -->
                    <!-- <h4>您所选择的文件列表：</h4> -->
                    <div id="ossfile"></div>
                    <div id="container">
                        <a id="selectfiles" href="javascript:void(0);" class='btn btn-default'>选择文件</a>
                        <a id="postfiles" href="javascript:void(0);" class='btn btn-info'>开始上传</a>
                    </div>
                    <div id="console"></div>
                    <!-- plupupload end -->
                </div>
                <div class="col-xs-3 tips"></div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-2">内容详情:<p>编辑器里面图片宽度小于1200px;建议750px</p></label>
                <div class="col-xs-8">
                    <script id="editorContainer" name="content"></script>
                </div>
            </div>


            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-1"><button type="button" class="form-control btn-default" onclick="window.history.back()">返回</button></div>
                <div class="col-xs-2"><button type="submit" class="form-control btn-info">提交</button></div>

            </div>
        </form>
    </div>
</div>