<div class="panel">
    <div class="panel-body">
        <div class="u-page-title"><span class="caption">文章编辑</span> </div>
        <form name="news-form" class="form form-horizontal" action="{:U('update',array('id'=>$data['id']))}">
            <input type="hidden" name="page_type" value="{$Think.get.page_type}">
            <input type="hidden" name="cid" value="{$Think.get.cid}">
            <div class="form-group">
                <label class="control-label col-xs-1">文章标题:</label>
                <div class="col-xs-8">
                    <input type="text" name="title" class="form-control" value="{$data['title']}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-1">封面:</label>
                <div class="col-xs-2">
                    <div class="m-thumbnail-upload" id="js-thumb-upload-panel">
                        <empty name="data['img']">
                            <a href="javascript:" class="add-btn js-add-btn"></a>
                            <div class="thumb-box hidden"><img class="thumb" style=""><span class="del-btn">删除</span>
                            </div>
                            <else />
                            <a href="javascript:" class="add-btn js-add-btn hidden"></a>
                            <div class="thumb-box">
                                <img class="thumb" src="{$Think.const.UPLOAD}/thumb/{$data['img']}">
                                <span class="del-btn">删除</span>
                            </div>
                            <input type="hidden" class="js-old-thumb" name="oldthumb" value="{$data['img']}">
                        </empty>
                        <input type="file" name="img" class="js-file-input" style="opacity: 0">
                    </div>
                </div>
                <div class="col-xs-3 tips">300px × 200px</div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-1">音/视频:</label>
                <div class="col-xs-5">
                    <input type="hidden" name="source" value="{$data['source']}" id='js-article-source'>

                    <!-- plupupload start -->
                    <!-- <h4>您所选择的文件列表：</h4> -->
                    <div id="ossfile">{$data['source']}</div>
                    <div id="container">
                        <a id="selectfiles" href="javascript:void(0);" class='btn btn-default'>选择文件</a>
                        <a id="postfiles" href="javascript:void(0);" class='btn btn-info'>开始上传</a>
                    </div>
                    <div id="console"></div>
                    <!-- plupupload end -->
                </div>
                <div class="col-xs-3 tips"></div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-1">是否推荐:</label>
                <div class="col-xs-8">
                    <label class="checkbox-inline"><input type="radio" name="recommend" value="1" <if condition="$data['recommend'] eq 1">checked</if>
                        />是</label>
                    <label class="checkbox-inline"><input type="radio" name="recommend" value="0" <if condition="$data['recommend'] eq 0">checked</if>
                        />否</label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-1">来源:</label>
                <div class="col-xs-8">
                    <input type="text" name="origin" class="form-control" value="{$data['origin']}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-1">外部链接:</label>
                <div class="col-xs-8">
                    <input type="text" name="url" class="form-control" value="{$data['url']}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-1">文章描述:</label>
                <div class="col-xs-8">
                    <textarea name="description" class="form-control">{$data['description']}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-1">内容详情:</label>
                <div class="col-xs-8">
                    <script id="editorContainer" name="content">{$data['content']}</script>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-2 col-xs-offset-1"><button type="button" class="form-control btn-default" onclick="window.history.back()">返回列表</button></div>
                <div class="col-xs-4"><button type="submit" class="form-control btn-info">提交</button></div>

            </div>
        </form>
    </div>
</div>