<div class="panel">
        <div class="panel-heading">
                <div class="u-page-title">{$pageName}</div>
        </div>
    <div class="panel-body">
        <assign name="info" value="$output['info']"/>
        <form name="add-form" class="form form-horizontal" action="{:U('a_update',array('id'=>$info['id']))}">

            <div class="form-group">
                <label class="control-label col-xs-2"><span class="symbol">*</span>标题:</label>
                <div class="col-xs-5">
                    <input type="text" name="title" class="form-control" value="{$info['title']}" placeholder="建议6-14个字符">
                </div>
                <div class="col-xs-3 tips"></div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">状态:</label>
                <div class="col-xs-5">
                    <label class="radio-inline">
                        <input type="radio" name="status" value="1" <if condition="1 eq $info['status']">checked</if>>展示中
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="status" value="0" <if condition="1 neq $info['status']">checked</if>>下架
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2"><span class="symbol">*</span>描述:</label>
                <div class="col-xs-5">
                    <input type="text" name="description" class="form-control" placeholder="建议25个字符以内" value="{$info['description']}">
                </div>
                <div class="col-xs-3 tips"></div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2"><span class="symbol">*</span>资源地址:</label>
                <div class="col-xs-5">
                    <textarea name="source" class="form-control" placeholder="资源下载地址">{$info['source']}</textarea>
                </div>
                <div class="col-xs-3 tips"></div>
            </div>


            <div class="form-group">
                <label class="control-label col-xs-2">详细介绍:</label>
                <div class="col-xs-8">
                    <script id="editorContainer" name="content">{$info['content']}</script>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-1"><button type="button" class="form-control btn-default" onclick="window.history.back()">返回</button></div>
                <div class="col-xs-2"><button type="submit" class="form-control btn-info">提交</button></div>

            </div>
        </form>
    </div>
</div>