<div class="m-top-choose">

<!--        <div class="row">
            <span class="col-lg-1 caption">文档所属：</span>
            <div class="col-lg-4 val-item">
                <a href="javascript:void(0)" class="cur">全部</a>
                <a href="{:U('',array('belong'=>'1'))}" data-type="1">部门小组</a>
                <a href="{:U('',array('belong'=>'2'))}" data-type="2">项目团队</a>
            </div>
        </div>-->
        <div class="row">
            <span class="col-lg-1 caption">文档类型：</span>
            <div class="col-lg-4 val-item">
                <a href="javascript:void(0)">全部</a>
                <a href="{:U('',array('type'=>'1'))}" data-type="1" class="cur">普通文档</a>
                <a href="{:U('',array('type'=>'2'))}" data-type="2">技术文档</a>
                <a href="{:U('',array('type'=>'3'))}" data-type="3">API文档</a>
            </div>
        </div>

</div>