<assign name="info" value="$output['bookingInfo']"/>
<div class="panel">
    <div class="panel-body">
        <div class="u-page-title">{$pageName}</div>
        <form name="add-form" class="form form-horizontal" action="{:U('a_update')}">
            <input type="hidden" name="type" value="1"/>
            <input type="hidden" name="id" value="{$Think.get.id}"/>
            <div class="form-group">
                <label class="control-label col-xs-2"><span class="symbol">*</span>培训机构</label>
                <div class="col-xs-5">
                    <select name="org_id" class="form-control">
                        <option value="">请选择机构</option>
                        <foreach name="output['orgList']" item="v">
                            <option value="{$v['id']}" <eq name="v['id']" value="$info['org_id']">selected</eq> >{$v['name']}</option>
                        </foreach>
                    </select>
                </div>
                <div class="col-xs-3 tips"></div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-2"><span class="symbol">*</span>课程名称:</label>
                <div class="col-xs-5">
                    <input type="text" name="title" class="form-control" value="{$info['title']}" placeholder="建议6-14个字符">
                </div>
                <div class="col-xs-3 tips"></div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-2"><span class="symbol">*</span>课程描述:</label>
                <div class="col-xs-5">
                    <textarea name="description" class="form-control" placeholder="建议50个字符以内" rows="3">{$info['description']}</textarea>
                </div>
                <div class="col-xs-3 tips"></div>
            </div>
            <div class="form-group">
                    <label class="control-label col-xs-2">招生人数:</label>
                    <div class="col-xs-2">
                        <input type="text" name="person_limit" value="{$info['person_limit']}" placeholder="请填入整数" class="form-control js-price">
                    </div>
                    <div class="col-xs-3 tips"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">报名截止日期:</label>
                    <div class="col-xs-2">
                        <input type="text" name="enroll_limit" value="{$info['enroll_limit']}" placeholder="如:2018-12-01" class="form-control js-price">
                    </div>
                    <div class="col-xs-3 tips"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">价格:</label>
                    <div class="col-xs-2">
                        <input type="text" name="price" value="{$info['price']}" placeholder="请填入整数或小数" class="form-control js-price">
                    </div>
                    <div class="col-xs-2"><label class="control-label"><input type="checkbox" name="has_yh" value="1" id="js-set-yh"  <eq name="info['has_yh']" value="1">checked</eq> >设置优惠</label> </div>
                    <div class="col-xs-3 tips"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">优惠价:</label>
                    <div class="col-xs-2">
                        <input type="text" name="yh_price" value="{$info['yh_price']}" <eq name="info['has_yh']" value="0">disabled</eq>  placeholder="请填入整数或小数" class="form-control js-yh-input js-price">
                    </div>
                    <div class="col-xs-3 tips"></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">优惠截止日期:</label>
                    <div class="col-xs-2">
                        <input type="text" name="yh_limit" value="{$info['yh_limit']}" <eq name="info['has_yh']" value="0">disabled</eq> placeholder="如:2018-12-01" class="form-control js-yh-input js-price">
                    </div>
                    <div class="col-xs-3 tips"></div>
                </div>


            <div class="form-group">
                <label class="control-label col-xs-2"><span class="symbol">*</span>封面:</label>
                <div class="col-xs-2">
                    <div class="m-thumbnail-upload" id="js-thumb-upload-panel">
                        <empty name="info['thumb']">
                            <a href="javascript:" class="add-btn js-add-btn"></a>
                            <div class="thumb-box hidden"><img class="thumb" style=""><span class="del-btn">删除</span> </div>
                            <else/>
                            <a href="javascript:" class="add-btn js-add-btn hidden"></a>
                            <div class="thumb-box">
                                <img class="thumb" src="{$Think.const.UPLOAD}/thumb/{$info['thumb']}">
                                <span class="del-btn">删除</span>
                            </div>
                            <input type="hidden" class="js-old-thumb" name="oldthumb" value="{$info['thumb']}">
                        </empty>
                        <input type="file" name="thumb" class="js-file-input" style="opacity: 0" >
                    </div>
                </div>
                <div class="col-xs-3 tips">建议尺寸750px×300px</div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-2">课程介绍详情:</label>
                <div class="col-xs-8">
                    <script id="editorContainer" name="content">{$info['content']}</script>
                </div>
            </div>


            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-1"><button type="button" class="form-control btn-default" onclick="window.history.back()">返回</button></div>
                <div class="col-xs-2"><button type="submit" class="form-control btn-info">提交</button></div>

            </div>
        </form>
    </div>
</div>