<div class="panel">
    <div class="panel-body">
        <div class="m-top-search">
            <form name="" class="form form-inline" action="{:U('cash')}" method="get">
                <div class="form-group">
                    <label class="control-label">关键字：</label>
                    <input class="form-control" name="keyword" maxlength="50" type="text" value="{$Think.get.keyword}" placeholder="请输入用户名">                </div>
                <div class="form-group">
                    <label class="control-label">提现状态：</label>
                        <select name="status" class="form-control">
                            <option value="">全部</option>
                            <option value="0" <heq name="Think.get.status" value="0">selected</heq>>未完成</option>
                            <option value="1" <if condition="$Think.get.status eq 1">selected</if>>已完成</option>
                        </select>
                </div>
                <div class="form-group">
                        <input class="form-control btn btn-info" type="submit" value="搜索">
                </div>

            </form>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-body">
        <empty name="cashData">
            {$emptyHtml}
            <else/>
            <table class="table table-bordered" border="0" cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                    <th width="100">用户名</th>
                    <th width="100">提现金额</th>
                    <th width="200">收款账号</th>
                    <th>账号类型</th>
                    <th>申请时间</th>
                    <!--<th>付款时间</th>-->
                    <th>状态</th>
                    <th width="80">操作</th>
                </tr>
                </thead>
                <tbody>
                <foreach name="cashData" item="vo">
                    <tr>
                        <td>{$vo.member_name}</td>
                        <td>{$vo.amount}</td>
                        <td>{$vo.account_num}</td>
                        <td>
                            {$accountType[$vo['pay_way']]}
                            <if condition="$vo.pay_way eq 3"><br>{$vo.bank}</if>
                        </td>
                        <td>{$vo.create_time}</td>
                        <!--<td>{$vo.pay_time}</td>-->
                        <?php if ($vo['status'] == 1){?>
                        <td class="text-success"><i class="icon icon-ok-circle"></i>已完成</td>
                        <?php }else {?>
                        <td class="text-warning"><i class="icon icon-remove-circle"></i>未完成</td>
                        <?php }?>

                        <td width="100" class="operation-box">
                            <if condition="$vo['status'] eq 1">
                                无需操作
                                <else/>
                                <a data-url="{:U('confirm_cash','id='.$vo['id'])}" class="btn btn-info" id="js-confirm-cash">完成付款</a>
                            </if>

                        </td>
                    </tr>
                </foreach>

                </tbody>
            </table>
        </empty>

    </div>
    <div class="panel-footer">
        <div class="m-pagination">
            {$output['paging']}
        </div>
    </div>
</div>

