<div class="panel">
    <div class="panel-body">
        <div class="alert alert-info">
            <p>提示：随机题将从题库中随机抽取；固定题需要创建试卷后单独添加题目!</p>
            <p>业务上随机题设置几道考卷后会固定下来，而固定题可根据需要实时添加</p>
        </div>
        <form name="add-form" class="form form-horizontal" action="{:U('a_add')}">
            <div class="form-group">
                <label class="control-label col-xs-2"><span class="symbol">*</span>出题类型:</label>
                <div class="col-xs-5">
                    <select name="type" class="form-control">
                        <option value="">请选择</option>
                        <option value="1">随机题</option>
                        <option value="2">固定题</option>
                    </select>
                </div>
                <div class="col-xs-3 tips"></div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-2"><span class="symbol">*</span>试卷类别:</label>
                <div class="col-xs-5">
                    <select name="cate_id" class="form-control">
                        <option value="0">请选择</option>
                        <foreach name="output['cateList']" item="v">
                            <option value="{$v['id']}">{$v['name']}</option>
                        </foreach>
                    </select>
                </div>
                <div class="col-xs-3 tips"></div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-2"><span class="symbol">*</span>测试标题:</label>
                <div class="col-xs-5">
                    <input type="text" name="title" class="form-control" value="" placeholder="建议6-20个字符">
                </div>
                <div class="col-xs-3 tips"></div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">题目数:</label>
                <div class="col-xs-2">
                    <input type="text" name="question_num" value="" placeholder="请填写题目数" class="form-control js-price">
                </div>
                <div class="col-xs-4 tips">数值必须为能被100整除的整数，如10,20,25,50</div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">推荐展示:</label>
                <div class="col-xs-5">
                    <label class="radio-inline">
                        <input type="radio" name="recommend" value="1">是
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="recommend" value="0" checked>否
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2"><span class="symbol">*</span>测试描述:</label>
                <div class="col-xs-5">
                    <textarea name="description" class="form-control" placeholder="200字符以内"></textarea>
                </div>
                <div class="col-xs-3 tips"></div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">是否免费:</label>
                <div class="col-xs-4 js-isfree-radio">
                    <label class="radio-inline">
                        <input type="radio" name="isfree" value="1" > 免费
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="isfree" value="0" checked> 收费
                    </label>
                </div>
                <div class="col-xs-3 tips"></div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-2">价格:</label>
                <div class="col-xs-2">
                    <input type="text" name="price" value="0.00" placeholder="请填入整数或小数" class="form-control js-price">
                </div>
                <div class="col-xs-3 tips"></div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-1"><button type="button" class="form-control btn-default" onclick="window.history.back()">返回</button></div>
                <div class="col-xs-2"><button type="submit" class="form-control btn-info">提交</button></div>

            </div>
        </form>
    </div>
</div>