
<div class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2"><a href="{:U('add')}" class="btn btn-info">添加试卷</a></div>
        </div>

    </div>
</div>
<div class="panel">
    <div class="panel-body">
        <empty name="output['list']">
            {$emptyHtml}
            <else/>
            <table class="table table-bordered m-product-list" border="0" cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                    <th width="80">ID</th>
                    <th>试卷名称</th>
                    <th width="80">出题类型</th>
                    <th width="80">所属类别</th>
                    <th width="80">题目数</th>
                    <th width="80">价格</th>
                    <th width="80">购买人数</th>
                    <th width="120">状态</th>
                    <th width="180">操作</th>
                </tr>
                </thead>
                <tbody>
                <foreach name="output['list']" item="vo">
                    <tr>
                        <td>{$vo['id']}</td>
                        <td>{$vo['title']}</td>
                        <td>{$vo['type'] == 1?'随机题':'固定题'}</td>
                        <td>{$vo['cate_name']}</td>
                        <td>{$vo['question_num']}</td>
                        <td>
                            <if condition="$vo['isfree'] eq 1">
                                <span class="text-success">免费</span>
                                <else/>
                                <span class="text-danger">￥{$vo['price']}</span>
                            </if>
                        </td>
                        <td>{$vo['buy_num']}</td>
                        <td>
                            <if condition="$vo['status'] eq 1">
                                <span class="text-success">展示</span>
                                <else/>
                                <span class="text-danger">隐藏</span>
                            </if>
                        </td>
                        <td><a href="{:U('edit',array('id'=>$vo['id']))}">编辑</a>
                            <if condition="$vo['type'] eq 2">
                                <a href="{:U('question',array('tid'=>$vo['id']))}">试题内容</a>
                                <else/>
                                <span class="text-muted">随机出题</span>
                            </if>
                        </td>
                    </tr>
                </foreach>

                </tbody>
            </table>
        </empty>

    </div>
    <div class="panel-footer">
        <div class="m-pagination">
            {$output['paging']}
        </div>
    </div>
</div>

