<style type="text/css">
    .course-thumb-box {width:120px;height:60px;}
</style>
<assign name="tid" value="$Think.get.tid"/>
<div class="panel">
    <div class="panel-body">
        <div class="u-page-title">试卷详情</div>
        <div class="m-columnist-single">
            <div class="bd">
                <div class="info">
                    <div class="title">当前试卷：{$testInfo['title']}</div>
                    <p><a style="margin:20px 0" class="btn btn-info" href="{:U('add_question',array('tid'=>$tid))}">添加试题</a></p>
                </div>
            </div>
            <div class="right-info">
                <div>
                    <a href="{:U('edit',array('id'=>$testInfo['id']))}">编辑</a>
                    <if condition="$testInfo['status'] eq 1">
                        <a href="javascript:void(0)" data-url="{:U('change_course_status',array('id'=>$testInfo['id'],'status'=>0))}" class="js-change-status">展示</a>
                        <else/>
                        <a href="javascript:void(0)" data-url="{:U('change_course_status',array('id'=>$testInfo['id'],'status'=>1))}" class="js-change-status">隐藏</a>
                    </if>
                </div>
                <div class="" style="margin-top:20px;">
                    <if condition="$testInfo['status'] eq 1">
                        <span class="btn btn-default">展示中</span>
                        <else/>
                        <span class="btn btn-danger">已隐藏</span>
                    </if>
                </div>
            </div>
        </div>

        <empty name="questionList">
            {$emptyHtml}
            <else/>
            <table class="table table-bordered m-question-list m-t-20" border="0" cellpadding="0" cellspacing="0" >
                <thead>
                <tr>
                    <th width="">题目名称</th>
                    <th width="200">类型</th>
                    <th width="120">操作</th>
                </tr>
                </thead>
                <tbody>
                <foreach name="questionList" item="vo">
                    <tr class="item">
                        <td class="js-title">{$vo['ask']}</td>
                        <td class="js-title">{$vo['answer_type_name']}</td>
                        <td class="operation-box">
                            <a  class='js-edit-section' data-id="{$vo['id']}" href="{:U('edit_question',array('id'=>$vo['id']))}">编辑</a>
                            <a href="javascript:" class="js-del-question" data-url="{:U('a_del_question',array('id'=>$vo['id']))}">删除</a>
                        </td>
                    </tr>
                </foreach>

                </tbody>
            </table>
        </empty>

    </div>
</div>


